<!--
  Generated template for the ShoppingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi carrito de reserva</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="(serviciosSeleccionados.length > 0)">
    <ion-card>
      <ion-list *ngFor="let servicio of serviciosSeleccionados; let i = index">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <p style="color:black">{{servicio.name}}</p>
              </ion-col>
              <ion-col col-12>
                <p>$ {{ servicio.price }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <button class="deleteService" ion-button item-end icon-only (click)="deleteFromCart(servicio)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>

      </ion-list>
      <ion-card-header>
        <ion-grid>
          <ion-row style="border-color: black; border-style: dashed; border-width: thin;">
            <ion-col col-6 style="background-color: black;">
              <h2 style="color: white;">{{ 'TOTAL' }}</h2>
            </ion-col>
            <ion-col col-6>
              <p style="text-align: right;">$ {{ totalServicios }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <div center text-center>
      <button style="background-color:#ff6700;" ion-button round (click)="goToReserve()" mat-raised-button>
        Eligir horario
        <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
      </button>
    </div>

  </div>

  <div *ngIf="!(serviciosSeleccionados.length > 0)">
    <div center text-center class="listaServiciosVacia">
      <div>
        <h2>SU CARRO ESTÁ VACÍO...</h2>
        <p>Te invitamos a conocer nuestros servicios.</p>
      </div>
      <button style="background-color:#ff6700;" ion-button round (click)="goServices()" mat-raised-button>Reserva aquí!</button>
    </div>
  </div>
</ion-content>