<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'Cancelar'}}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'Listo'}}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descripción</ion-label>
        <ion-textarea type="text" formControlName="about"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Duración</ion-label>
        <ion-input type="number" formControlName="duracion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <ion-input type="number" formControlName="cost"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Categoría</ion-label>
        <ion-select placeholder="Seleccionar" [(ngModel)]="categoria" formControlName="category" name="categoria"
          okText="Aceptar" cancelText="Cancelar">
          <ion-option [value]="categoria.nombre" *ngFor="let categoria of listaCategorias">{{categoria.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>