/* :host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    
} */

.accordion-list {
   
    height: 100%;
    font-family: Calibri, 'Trebuchet MS', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
}
.section-active {
    background: #ffc400;
    color: #fff;
}

.child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;
}
.child-item {
    background: #f3f2f1;
    padding: 10px;
}
.label {
    margin: 0px;
}
.list {
    margin-bottom: 4px;
}

.btnSinAction{
    pointer-events: none;
}

.btnItem{
    background-size: 1px;
    padding-right: 16px;
}
.lista{
    margin-bottom: 0px !important;
}