<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Ionic 4 Start</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar placeholder="Buscar" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"
    (ionInput)="filterItems($event)" (ionCancel)="onCancel($event)" (ionChange)="limpiaFiltro($event)">
  </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(serviciosFiltrados.length > 0)">
    <!-- Second Level -->
    <ion-list-header class="lista" *ngFor="let servicio of serviciosFiltrados; let i = index" no-padding>

      <!-- Direct Add Button as Fallback -->
      <ion-item-sliding text-wrap>
        <ion-item style="letter-spacing: 0;
                  text-transform: none;">
          <ion-grid>
            <ion-row>
              <ion-col col-5 style="text-align: end;">
                <p>
                  <ion-icon ios="md-time" md="md-time"></ion-icon>
                  {{servicio.duration}}
                </p>
              </ion-col>
              <ion-col col-3>
                <p>{{'minutos'}}</p>
              </ion-col>
              <ion-col col-4>
                <p style="color:black; text-align: right; font-weight: bold;">
                  <ion-icon ios="md-pricetag" md="md-pricetag"></ion-icon>
                  $ {{ servicio.price }}
                </p>
              </ion-col>
              <ion-col col-12>
                <h2>{{ servicio.name }}</h2>
              </ion-col>
              <ion-col col-12>
                <p>{{ servicio.information }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <button ion-button outline item-end (click)="addCart(servicio)">{{ '+ Agregar' }}</button>
        </ion-item>
      </ion-item-sliding>
    </ion-list-header>

  </div>

  <div *ngIf="hayResultados == false">
    <div center text-center class="lista">
      <div>
        <p>No se encontraron resultados para la búsqueda.</p>
      </div>
    </div>
  </div>

  <div *ngIf="!(serviciosFiltrados.length > 0) && !(hayResultados == false)">
    <ion-list class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none
          [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.name }}
        </button>

        <ion-list *ngIf="item.children && item.open" no-lines>
          <!-- Second Level -->
          <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>

            <!-- Direct Add Button as Fallback -->
            <ion-item-sliding *ngIf="!child.children" text-wrap>
              <ion-item style="letter-spacing: 0;
                  text-transform: none;">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5 style="text-align: end;">
                      <p>
                        <ion-icon ios="md-time" md="md-time"></ion-icon>
                        {{child.duration}}
                      </p>
                    </ion-col>
                    <ion-col col-3>
                      <p>{{'minutos'}}</p>
                    </ion-col>
                    <ion-col col-4>
                      <p style="color:black; text-align: right; font-weight: bold;">
                        <ion-icon ios="md-pricetag" md="md-pricetag"></ion-icon>
                        $ {{ child.price }}
                      </p>
                    </ion-col>
                    <ion-col col-12>
                      <h2>{{ child.name }}</h2>
                    </ion-col>
                    <ion-col col-12>
                      <p>{{ child.information }}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <button ion-button outline item-end (click)="addCart(child)">{{ '+ Agregar' }}</button>
              </ion-item>
            </ion-item-sliding>
          </ion-list-header>
        </ion-list>

      </ion-list-header>
    </ion-list>
  </div>
</ion-content>