<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Modificar servicio' }}</ion-title>
    <ion-buttons start>

    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'Editar'}}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descripción</ion-label>
        <ion-textarea type="text" formControlName="about"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Duración (minutos)</ion-label>
        <ion-input type="number" formControlName="duracion"></ion-input>
        <p>minutos</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <ion-input type="number" formControlName="cost"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Categoría</ion-label>
        <ion-select placeholder="Seleccionar" [(ngModel)]="category" formControlName="category" name="category" okText="Aceptar"
          cancelText="Cancelar">
          <ion-option value="{{categoria.nombre}}" *ngFor="let categoria of listaCategorias">{{categoria.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <div class="item-actions">

    <button ion-button icon-end style="background: #e13838" (click)="presentConfirm()">
      Eliminar
      <ion-icon name="md-trash"></ion-icon>
    </button>
  </div>
</ion-content>