<!--
  Generated template for the ErrorServiciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content center text-center>
  <div>
    <div class="error_page">
      <div class="error_page_icono">
        <ion-img style="width: 80px; height: 80px; background-color: white;" src="../../assets/imgs/orange-error-icon-0.png"></ion-img>
      </div>
      <div class="titulos_activacion">
        <h2>Ups!</h2>
        <p>Estamos teniendo problemas para obtener nuestros servicios.</p>
        <p>Por favor vuelva más tarde.</p>
      </div>
      <button style="background-color:#ff6700;" ion-button round (click)="goToBack()" mat-raised-button>Volver al inicio</button>
    </div>
  </div>
</ion-content>
