<!--
  Generated template for the ClientsAdministratorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Administración de clientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <button ion-button icon-start block class="btnAccion" (click)="addCliente()">
      <ion-icon ios="md-add" md="md-add"></ion-icon>
      AGREGAR UN CLIENTE (Sin cuenta)
    </button>
  </div>
</ion-content>