<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ '2: Datos de Reserva'}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="doCrearCliente()">
        <ion-list>

            <ion-item>
                <ion-label stacked>Nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Apellidos</ion-label>
                <ion-input type="text" formControlName="apellidos"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Teléfono móvil</ion-label>
                <ion-input placeholder="9 87654321" type="number" pattern="[0-9]*" formControlName="telefono"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="emailInput" (input)="validateEmailFormat($event)"></ion-input>
               
        <div *ngIf="!formatoEmail"> El email no tiene el formato indicado</div>
            </ion-item>

        </ion-list>
    </form>

    <button ion-button block style="background-color:#ff6700" (click)="doCrearCliente()" [disabled]="!isReadyToSave"
        strong>
        {{ 'Reservar'}}
    </button>
</ion-content>