<!--
  Generated template for the ReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Reservas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="font-family: Calibri, 'Trebuchet MS', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
">
 <div *ngIf="(citas.length > 0)">
  <ion-list>
    <ion-item-sliding *ngFor="let cita of citas">
      <ion-item>
      <ion-card>
              <ion-card-header class = "tituloCita">
                {{cita.dia}} - {{cita.hora}} 
              </ion-card-header>
            
              <ion-card-content class="content">
                <p>Servicio(s):</p> 
                
                <ion-item-sliding *ngFor="let servicio of cita.servicios">
                  <ion-item class="listadoServicios">
                      <li>{{servicio}}</li>
                  </ion-item>
                </ion-item-sliding>

                <p>Estilista: </p>
                <ion-item-sliding>
                <ion-item class="listadoServicios">
                  {{cita.estilista}}
                </ion-item>
              </ion-item-sliding>
                
              </ion-card-content>
            </ion-card>
          </ion-item>
    </ion-item-sliding>
  </ion-list>
</div>
<div *ngIf="!(citas.length > 0)">
    <div center text-center class ="listaReservasVacia">
      <div>
        <h2>UDTED NO TIENE RESERVAS O NO HA INICIADO SESIÓN AÚN...</h2>
      </div>
    </div>
  </div>
</ion-content>
