page-reservation {
    .listadoServicios{
        margin: -10px;
    }

    .tituloCita {
        font-weight: bold;
        text-align: -webkit-right;
        background-color: blanchedalmond;
        padding: 8px;
    }

    .content {
        padding-top: 13px !important;
    }

    .listaReservasVacia{
        margin-top: 40%;
    }

    p {
        color: chocolate;
    }
}
