<!--
  Generated template for the ServiceAdministratorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Administración de servicios</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div>
    <button ion-button icon-start block class="btnAccion" (click)="addCategoria()">
      <ion-icon ios="md-add" md="md-add"></ion-icon>
      AGREGAR UNA CATEGORÍA
    </button>
  </div>

  <div>
    <button ion-button icon-start block class="btnAccion" (click)="addItem()">
      <ion-icon ios="md-add" md="md-add"></ion-icon>
      AGREGAR UN SERVICIO
    </button>
  </div>

  <div>
    <button ion-button icon-start block class="btnAccion" (click)="updateDeleteItem()">
      <ion-icon ios="ios-create" md="md-create"></ion-icon>
      MODIFICAR O ELIMINAR UN SERVICIO
    </button>
  </div>


</ion-content>